// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black: #000000;
$white: #FFFFFF;
$footer-height: 50px;
$header-height: 35px;
$main-height: 500px;

p, h1, h2, h3, span {
}

html body{


  button {
    border-radius: 5px;
  }

  button:hover, button:active, button:focus{
    border-radius: 5px;
  }

}

header {

  nav.top-bar {
    height: 35px;

    a {
      padding: 5px;
      color: #E0E0E0;
      font-size: 13px;
    }

    a:hover {
    }

    ul.left {
      margin-top: 5px;
      margin-left: 5%;
    }
    ul.right {
      margin-top: 5px;
      padding-right: 5%;
      input {
        position: static;
        height: 1.5rem;
      }
    }
  }

  .container{
    background-image: url("http://meta.stackexchange.com/content/stackexchangemeta/img/bg-site@2.png?v=21e5b9edec62");
    background-size: 63px 180px;
    background-position: left -37px;
    background-repeat: repeat-x;
    background-color: $white;

    #main-nav{
      background-image: url("http://meta.stackexchange.com/content/stackexchangemeta/img/icon-cloud@2.png?v=266703494be9");
      background-size: 630px 139px;
      width: 980px;
      height: 135px;
      padding: 12px 0 0 25px;
      background-repeat: no-repeat;
      margin: auto;
    }
    
  }
}


main {
  min-height: $main-height;

}


footer {
  nav {
    min-height: $footer-height;
    padding-left: 5%;
    padding-top: 10px;

    ul.inline-list{
      margin-bottom: 0;
    }

    a {
      padding: 5px;
    }
  }
}
