// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black: #111111;
$white: #FFFFFF;
$skyblue: #8ADFF9;
$visited-blue: #18529A;
$grey: #444444;
$button-blue: #4ca3d7;
$button-active: #4e82c2;
$button-shadow: #086586;
$link-grey: #888888;
$light-grey: #e5e5e5;
$comment-grey: #444444;
$lightest-grey: #FBFBFB;
$footer-height: 50px;
$header-height: 35px;
$main-height: 500px;
$comment-border: dotted 1px #dddddd;
$comment-top: solid 1px #dddddd;

p, h1, h2, h3, span {
}



html body{

  h1, h2, h3, h4, h5 {
    color: $link-grey;
  }

  h1 {
    font-size: 1.7rem;
  }

  button:hover, .button:hover {
    background: $button-active;
    margin-top: 3px;
    border-top: 4px $white;
    box-shadow: none;
  }

  button, .button {
    border-radius: 5px;
    padding: 8px 8px;
    margin: 0 0 2rem 0;
    color: $white;
    font-size: 13px;
    background: $button-blue;
    box-shadow: 0 3px 0 0 $button-shadow;
  }

  button.upvote, button.downvote {
    margin: 0;
    background: none;
    width: 0;
    height: 0;
    box-shadow: none;
    padding: 0;
    border-radius: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  button.upvote, button.upvote:hover{
    border-bottom: 20px solid $button-shadow;
  }

  button.downvote, button.downvote:hover{
    border-top: 20px solid $button-shadow;
  }

  form.taggable-destroy {
    display: inline;
  }

  p.vote-count {
    margin-bottom: 0;
    padding-left: 1rem;
    color: $button-shadow;
    font-weight: bold;
  }
  h2.question-title, h4.answer-count {
    color: $button-active;
    font-size: 24px;
    line-height: 1.35;
    padding: 25px 0 20px;
    border-bottom: 1px solid $light-grey;
  }

  a {
    color: $link-grey;
    font-size: 12px;
    padding: 1px 6px;
  }

  a#toggle-chat {
    position: absolute;
    right: 0;
    top: 170px;
    font-size: 25px;
    font-weight: bold;
  }

  button.untag{
    padding: 3px 4px;
  }

  form#new-tag-form {
    input {
      width: 75%;
      margin-right: 10px;
    }
  }

  img.profile {
    height: 100px;
  }

  img.thumbnail {
    height: 32px;
  }

  h3 {
    line-height: 1;
  }

  h3.title a{
    color: $button-active;
    font-weight: bold;
    font-size: 15px;
    padding: 0;
  }

  ul.questions {
    list-style: none;

    li.question {

      border-top: 1px solid $light-grey;
      padding: 15px 0px;

      div.glance {
        margin-top: 10px;

        .vote_count, .vote_count span {
          color: $link-grey;
        }

        .answer_count, .answer_count span {
          color: $comment_grey;
        }

        span {
          clear: both;
        }
      }

      p.excerpt {
        font-size: 13px;
        color: $comment-grey;
        margin-bottom: 5px;
      }

      div.meta {

        span {
          padding: 0 5px;
          color: $link-grey;
          font-size: 12px;
        }

        img {
          width: 32px;
        }
      }

      a.tag {
        background: $lightest-grey;
        border: 1px solid $light-grey;
        border-radius: 10px;
      }
    }
  }
}

header {

  nav.top-bar {
    color: $black;
    height: 35px;

    a {
      padding: 9px 7px 6px 7px;
      color: #E0E0E0;
      font-size: 13px;
    }

    input {
      margin-top: 5px;
    }

    a:hover {
      background-color: $grey;
    }

    ul.left {
      margin-top: 5px;
      margin-left: 5%;
      a {
      font-size: 15px;
      padding: 9px;
      }
    }
    ul.right {
      padding-right: 5%;
      input {
        position: static;
        height: 1.5rem;
      }
    }
  }

  .container{

    background-image: url("bg-site.png");
    background-size: 63px 180px;
    background-position: left -37px;
    background-repeat: repeat-x;
    background-color: $white;

    #main-nav{
      background-image: url("icon-cloud.png");
      background-size: 630px 139px;

      height: 135px;
      padding: 12px 0 0 25px;
      background-repeat: no-repeat;
      margin: auto;

      .home {
        background-image: image-url("logo.png");
        background-size: 170px 80px;
        width: 170px;
        height: 80px;
        margin-top: 10px;
      }

      ul {
        margin: 50px 50px 0 0 ;
        a {
          font-size: 1rem;
          font-weight: bold;
          color: $white;
        }
        a:hover, a.here{
          color: $skyblue;
        }
      }
    }
  }

  #top-search-results {
    position: absolute;
    width: 300px;
    right: 10px;
    top: 40px;
    border: 1px solid $light-grey;
    background-color: $white;
    border-radius: 6px;
    padding-top: 4px;
    box-shadow: 3px 5px 3px $skyblue;
  }
  #top-search-results.hide {
    display: none;
  }

  #top-search-results li{
    padding-top: 5px;
    margin: 0 10px 4px 10px;
    border-top: 1px solid $light-grey;
    color: $link-grey;
  }

  #top-search-results li:first-child{
    border: none;
  }

  #top-search-results li:hover{
    background-color: $lightest-grey;
    cursor: pointer;
  }

}


main {
  min-height: $main-height;

  div.question {
    padding: 15px 0px;

    .question-links{
      margin-top: 8px;
    }

    #new-tag-form {

      margin-top: 10px;
    }
  }

  .answers .answer {
    border-top: 1px solid $light-grey;
    padding-top: 15px;
    margin-top: 15px;

    h1, h2, h3, h4, h5 {
      font-size: 16px;
    }
  }

  .question-comments > .comment, .answer-comments > .comment {
    padding: 7px 7px 7px 10px;
    border-bottom: $comment-border;
  }

  .question-comments > .comment:hover,
   .answer-comments > .comment:hover {
     background: $lightest-grey;
   }

  .question-comments > .comment:first-child,
  .answer-comments > .comment:first-child {
    border-top: $comment-top;
  }


}

#chat {
  position: absolute;
  right: 0;
  top: 200px;
}

footer {
  background-image: url('icon-cloud-footer.png'), url('bg-site.png');
  background-position: left bottom,left top;
  background-repeat: no-repeat,repeat;
  background-size: 475px 280px,63px 180px;
  min-height: $footer-height;

  nav {
    padding-left: 5%;
    padding-top: 10px;

    ul.inline-list{
      margin-bottom: 0;
    }

    a {
      color: $skyblue;
      padding: 5px;
      font-size: 13px;
    }
    a:hover {
      color: $white;
    }
  }
}
