<p>
  <div class="answer-votes"></div>
  <%= answer.get('body') %>
  <div class="answer-author"></div>
  <div class="answer-comments"></div>
</p>
<% if (Qutria.currentUser.get('id') &&
  Qutria.currentUser.get('id') == answer.get('user_id')) { %>
    <form class="edit-answer" >
      <textarea name="answer[body]"><%= answer.get('body') %></textarea>
      <button class="edit-answer"> Edit Your Answer </button>
    </form>
    <a class="delete-answer" href="#">Delete Your Answer</a>
<% } %>
