<p class="author columns small-4 small-centered">
  <img class="thumbnail" src="<%= author.get('filepicker_url') %>">
  by:
  <a href="#/users/<%=author.get('id')%>"><%= author.get('username') %></a>
</p>
