<h2>Qutria Chat: Main</h2>
<ul id="board">  </ul>
<label for="new-message">Message:</label>
<input type="text" id="new-message" value="">
<button id="send-chat">send</button>

<% if (Qutria.currentUser.has('id')) { %>
<label for="change-hannel">Room Search:</label>
<input type="text" id="change-channel" value="">
<button id="update-channel">Change Room</button>
<h4>Click Name To Change Your Room </h4>
<ul id="chat-search-results">
</ul>
<% } %>
