<h1> Qutria Chat Main</h1>
<p id="board">  </p>
<input type="text" id="new-message" value="">
<button id="send-chat">send</button>
<input type="text" id="change-channel" value="">
<button id="update-channel">Change Room</button>
<ul id="chat-search-results"></ul>
