<h2>Qutria Chat: Main</h2>
<ul id="board">  </ul>
<label for="new-message">Message:</label>
<input type="text" id="new-message" value="">
<button id="send-chat">send</button>
<label for="change-channel">Room Search:</label>
<input type="text" id="change-channel" value="">
<button id="update-channel">Change Room</button>
<ul id="chat-search-results"></ul>
