<% if (Qutria.currentUser.get('id')  ) { %>
  <a href="#" class="form-toggle left"
  data-selector="edit-<%= obj_type + obj.get('id') %>" >Comment</a>
  <form id="edit-<%= obj_type + obj.get('id') %>" class="comment-form hide">
      <input type="hidden" name="comment[commentable_id]"
      value="<%= obj.get('id') %>">
      <input type="hidden" name="comment[commentable_type]"
      value="<%= obj_type %>">
      <textarea name="comment[body]"></textarea>
      <button class="add-comment"> Add A Comment </button>
  </form>
<% } %>
