<p>
  <%= comment.get('body') %>
  <div class="author"></div>
</p>
<% if (Qutria.currentUser &&
  Qutria.currentUser.get('id') == comment.get('user_id')) { %>
    <form class="edit-comment" >
      <textarea name="comment[body]"><%= comment.get('body') %></textarea>
      <button class="edit-comment"> Edit Your Comment </button>
    </form>
    <a class="delete-comment" href="#">Delete Your Comment</a>
<% } %>
