<nav>
  <ul>
    <li>Qutria</li>
    <li><a href="#">About Qutria</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Creater</a></li>
    <li><a href="#">Tour</a></li>
    <li><a href="#">Suggestions</a></li>
  </ul>
</nav>
