<nav class="top-bar small-12">
    <ul class="left">
      <a href="#">Qutria</a>
    </ul>
    <ul class="right">
      <a href="#/questions">Questions</a>
      <a href="#/tags">All Tags</a>
      <a href="#/users">Users</a>
      <a href="#">Unanswered</a>
      <% if (!!Qutria.currentUser.has("id")) { %>
        <a href="#/favorites">Favorite Tags</a>
      <% } %>
      <a href="#">User</a>
      <a href="#">Search</a>
      <% if (!!Qutria.currentUser.has("id")) { %>
        <a id="sign-out" href="#">Sign-Out</a>
      <% } else { %>
        <a href="#/sign-in">Sign-In</a>
        <a href="#/sign-up">Sign-Up</a>
      <% } %>
    </ul>
</nav>
