<nav class="top-bar small-12">
    <ul class="left">
      <a href="#">Qutria</a>
    </ul>
    <ul class="right inline-list">
      <% if (!!Qutria.currentUser.has("id")) { %>
        <li><a href="#/favorites">Favorite Tags</a></li>
      <% } %>
      <% if (!!Qutria.currentUser.has("id")) { %>
        <li><a id="sign-out" href="#">Sign-Out</a></li>
      <% } else { %>
        <li><a href="#/sign-in">Sign-In</a></li>
        <li><a href="#/sign-up">Sign-Up</a></li>
      <% } %>
      <li>
        <input type="text" id="top-search" value="">
        <ul id="top-search-results" class="hide"></ul>
      </li>
    </ul>
</nav>
<div class="container clearfix small-12">
  <nav id="main-nav">
    <a class="home left" href="#"> </a>
    <ul class="right inline-list">
      <li><a href="#/questions">Questions</a></li>
      <li><a href="#/tags">All Tags</a></li>
      <li><a href="#/users">Users</a></li>
      <li><a href="#">Unanswered</a></li>
      <li><a href="#">User</a></li>
    </ul>
  </nav>
</div>
