<div id="logo">
  LOGO
</div>
<nav>
  <ul>
    <li><a href="#/questions">Questions</a></li>
    <li><a href="#/tags">Tags</a></li>
    <li><a href="#/users">Users</a></li>
    <li><a href="#">Unanswered</a></li>
    <li><a href="#">User</a></li>
    <li><a href="#">Search</a></li>
    <% if (!!Qutria.currentUser.has("id")) { %>
      <li><a id="sign-out" href="#">Sign-Out</a></li>
    <% } else { %>
      <li><a href="#/sign-in">Sign-In</a></li>
      <li><a href="#/sign-up">Sign-Up</a></li>
    <% } %>
  </ul>
</nav>
