<div id="logo">
  LOGO
</div>
<nav>
  <ul>
    <li><a href="#">Questions</a></li>
    <li><a href="#">Tags</a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Unanswered</a></li>
    <li><a href="#">User</a></li>
    <li><a href="#">Search</a></li>
  </ul>
</nav>
