<form id="sign-up-form">
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]" value="">
  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]" value="">
  <label for="password">password</label>
  <input type="password" id="password" name="user[password]" value="">
  <button id="new-user">Create Account</button>
</form>
