<div class="background">
<h1>Sign In</h1>
<a class="modal-form-toggle" data-selector="sign-in"
  href="#">&#215;</a>
<form id="sign-in-form">
  <label for="username">Username</label>
  <input type="text" name="session[username]" id="username"  value="">
  <label for="password">password</label>
  <input type="password" name="session[password]" id="password"  value="">
  <button id="sign-in">Sign In</button>
</form>
</div>
