<h2 class="tag-title row small-centered"><%= tag.get('name') %></h2>
<div class="row">
  <% if (Qutria.currentUser.get('id')) {%>
    <button id="favorite-toggle">
      <% if (tag.get('favorite')) { %>
        Unfavorite
      <% } else { %>
        Favorite
      <% } %>
    </button>
    <div class="tag-edit"></div>
  <% } %>
</div>
<p class="tag-description row small-centered"><%= tag.get('description') %></p>

<ul class="tag-questions questions row"></ul>
