<form class="create-tag" >
  <label for="name">Tag Name</label>
  <input type="text" id="name" name="tag[name]" value="">
  <label for="description">Tag Description</label>
  <textarea id="description" name="tag[description]"></textarea>
  <button class="create-tag"> Create A New Tag </button>
</form>
