<form class="edit-tag" >
  <input type="text" name="tag[name]" value="<%= tag.get('name') %>">
  <textarea name="tag[description]"><%= tag.get('description') %></textarea>
  <button class="edit-tag"> Edit Tag </button>
</form>
