<h1> Tags </h1>

<p> A tag is a keyword or label that categorizes your question with other,
   similar questions. Using the right tags makes it easier
for others to find and answer your question. </p>
<div class="new-tag"></div>
<div class="row"><form id="tag-search">
  <label for="find-tag">Type to find tags: </label>
  <input type="text" id="find-tag" value="<%= search %> ">
</form>
</div>
<div id="tags"></div>
