<div>
  <h2>User Page</h2>
  <p>
    <%= user.get('username') %>
  </p>
  <p>
    <%= user.get("email") %>
  </p>
  <p>
    <%= user.get("name") %>
  </p>
</div>
<% console.log(Qutria.currentUser) %>
<% console.log(user) %>
<% if (Qutria.currentUser && Qutria.currentUser.get("id") === user.get("id")) { %>
  <form id="delete-user-form">
    <button id="delete-user">Delete User</button>
  </form>
<% } %>
