<h1> Users </h1>

<div class="row"><form id="user-search">
  <label for="find-user">Type to find users: </label>
  <input type="text" id="find-user" value="<%= search %> ">
</form>
</div>
<div id="users"></div>
