<h2> All Users </h2>
<% users.each(function(user) { %>
  <ul>
    <li><a href="#/users/<%= user.get("id") %>"><%= user.get('username') %></a></li>
    <li><%= user.get('email') %></li>
    <li><%= user.get('name') %></li>
  </ul>
<% }) %>
