<div>
  <h2>User Page</h2>
  <img class="profile" src=" <%=user.get('img') %> " >
  <p>
    <%= user.get('username') %>
  </p>
  <p>
    <%= user.get("email") %>
  </p>
  <p>
    <%= user.get("name") %>
  </p>
</div>


<% if (Qutria.currentUser && Qutria.currentUser.get("id") === user.get("id")) { %>
  <button class="filepicker-user">Add/Edit Your Image</button>
  <form id="delete-user-form">
    <button id="delete-user">Delete Account</button>
  </form>
<% } %>
