<% if(Qutria.currentUser.has('id')) { %>
<button class="upvote">Upvote</button>
<p class="vote-count"><%= obj.get("vote_count") %></p>
<button class="downvote">Downvote</button>
<% } else {%>
<p class="vote-count"><%= obj.get("vote_count") %></p>
<% } %>
