<% if flash[:msg] %>
  <div id="flash">
    <% if flash[:msg].is_a?(Array) %>
      <% flash[:msg].each do |msg| %>
        <p>
          <%= msg %>
        </p>
      <% end %>
    <% else %>
      <p>
        <%= flash[:msg] %>
      </p>
    <% end %>
  </div>
<% end %>
